apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ registry_fqdn }}
spec:
  defaultBackend:
    service:
      name: private-docker-registry
      port:
        number: {{ registry-port }}
